$corDeFundo: #eff0e6;
$corSecundaria: #cb0f0d;
$corTextoPrincipal: #000;
$corTextoSecundario: #000;
$corDeFundoBotaoPrimario: #920d0b;
$corDeFundoBotaoSecundario: #cb0f0d;
$corDeFundoBotaoDark: #000;
